.signup-container {
    text-align: center;
}

.signup-content {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 500px;
    display: inline-block;
    margin-top: 100px;
    vertical-align: middle;
    position: relative;    
    padding: 35px;
}

.login-link {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
}

.signup-title {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.65);
}